# This unit will be pulled before multi-user.target
# To be sure it's pulled before any graphical login manager
[Unit]
Description=DPM profile

[Service]
Type=oneshot
Environment='AS_SERVICE=true'
ExecStart=/usr/bin/dpm-query-service start
ExecStop=/usr/bin/dpm-query-service stop
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
